## --- Environment variable --- ##
ENV=LOCAL
DEBUG=false
# TZ=UTC
# PYTHONDONTWRITEBYTECODE=1


## -- VM Runner API configs -- ##
VM_RUNNER_API_PORT=8000
# VM_RUNNER_API_LOGS_DIR="/var/log/rest.bv-vm-runner"
# VM_RUNNER_API_DATA_DIR="/var/lib/rest.bv-vm-runner"

# VM_RUNNER_API_VERSION="1"
# VM_RUNNER_API_PREFIX="/api/v{api_version}"
# VM_RUNNER_API_DOCS_ENABLED=true
# VM_RUNNER_API_DOCS_OPENAPI_URL="{api_prefix}/openapi.json"
# VM_RUNNER_API_DOCS_DOCS_URL="{api_prefix}/docs"
# VM_RUNNER_API_DOCS_REDOC_URL="{api_prefix}/redoc"


## -- Challenge API configs -- ##
# For Docker: use service name from docker network
CHALLENGE_VM_HOST="challenge-api"  # Service name in docker-compose
CHALLENGE_VM_PORT="10001"  # Port where challenge API is running
# For local development: use localhost
# CHALLENGE_VM_HOST="localhost"
MDM_CHALLENGE_BASE_URL="http://challenge-api:10001"  # For Docker network
# MDM_CHALLENGE_BASE_URL="http://localhost:10001"  # For local development
# MDM_CHALLENGE_SIMPLE_BOT_URL="https://simplebot.theredteam.io"
# MDM_CHALLENGE_BOT_DIR="/app/rest.bv-vm-runner/bot"
# MDM_CHALLENGE_SIMPLE_BOT_NETWORK_NAME="bot-simple-network"
# MDM_CHALLENGE_CHALLENGE_NETWORK_NAME="bot-challenge-network"
# MDM_CHALLENGE_MINER_IMAGE_TAG="redteamsubnet/bv-miner:latest"
# MDM_CHALLENGE_SIMPLE_BOT_POLL_MAX_ATTEMPTS=5
# MDM_CHALLENGE_SIMPLE_BOT_POLL_INTERVAL_SEC=2



## -- Docker build args -- ##
# HASH_PASSWORD="\$5\$UN1S7dZEa/qDoijJ\$hJ5o.Wpp5aP2kp.46Y7lWgcsRE8/oRLVswU6Swi13fB" # !!! CHANGE THIS TO REAL HASHED PASSWORD !!!
# IMG_ARGS="--build-arg HASH_PASSWORD=${HASH_PASSWORD}"


## -- Extra -- ##
# PROJECT_SLUG=rest.bv-vm-runner
